# Python virtual environment
venv/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.iml

# Dependency directories
lib/
lib64/

#Rust cargo

insert_data_into_db/target/**

tatq
