# Python virtual environment
venv/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.iml

# Dependency directories
lib/
lib64/

#Rust cargo
insert_data_into_db/target/.rustc_info.json
insert_data_into_db/target/CACHEDIR.TAG
insert_data_into_db/target/debug/.cargo-lock
insert_data_into_db/target/debug/insert_data_into_db
insert_data_into_db/target/debug/insert_data_into_db.d
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-1669dbf7a726d1ea/bin-insert_data_into_db
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-1669dbf7a726d1ea/bin-insert_data_into_db.json
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-1669dbf7a726d1ea/dep-bin-insert_data_into_db
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-1669dbf7a726d1ea/invoked.timestamp
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-6765f02300c07289/bin-insert_data_into_db
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-6765f02300c07289/bin-insert_data_into_db.json
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-6765f02300c07289/dep-bin-insert_data_into_db
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-6765f02300c07289/invoked.timestamp
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-f7e24327b8a28e14/dep-test-bin-insert_data_into_db
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-f7e24327b8a28e14/invoked.timestamp
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-f7e24327b8a28e14/test-bin-insert_data_into_db
insert_data_into_db/target/debug/.fingerprint/insert_data_into_db-f7e24327b8a28e14/test-bin-insert_data_into_db.json
insert_data_into_db/target/debug/deps/insert_data_into_db-1669dbf7a726d1ea
insert_data_into_db/target/debug/deps/insert_data_into_db-1669dbf7a726d1ea.d
insert_data_into_db/target/debug/deps/insert_data_into_db-6765f02300c07289.d
insert_data_into_db/target/debug/deps/insert_data_into_db-f7e24327b8a28e14.d
insert_data_into_db/target/debug/deps/libinsert_data_into_db-6765f02300c07289.rmeta
insert_data_into_db/target/debug/deps/libinsert_data_into_db-f7e24327b8a28e14.rmeta
insert_data_into_db/target/debug/incremental/insert_data_into_db-1mfq3vbm1nges/s-gvl30zwb4x-vzmjyd.lock
insert_data_into_db/target/debug/incremental/insert_data_into_db-1mfq3vbm1nges/s-gvl30zwb4x-vzmjyd-5d4iih36qnz3x202ssr0ckeco/dep-graph.bin
insert_data_into_db/target/debug/incremental/insert_data_into_db-1mfq3vbm1nges/s-gvl30zwb4x-vzmjyd-5d4iih36qnz3x202ssr0ckeco/query-cache.bin
insert_data_into_db/target/debug/incremental/insert_data_into_db-1mfq3vbm1nges/s-gvl30zwb4x-vzmjyd-5d4iih36qnz3x202ssr0ckeco/work-products.bin
insert_data_into_db/target/debug/incremental/insert_data_into_db-29midltzb9cz4/s-gvl30zwalx-iqxeuk.lock
insert_data_into_db/target/debug/incremental/insert_data_into_db-29midltzb9cz4/s-gvl30zwalx-iqxeuk-ch22vutrdu4xvspgg5xhdvw9c/dep-graph.bin
insert_data_into_db/target/debug/incremental/insert_data_into_db-29midltzb9cz4/s-gvl30zwalx-iqxeuk-ch22vutrdu4xvspgg5xhdvw9c/query-cache.bin
insert_data_into_db/target/debug/incremental/insert_data_into_db-29midltzb9cz4/s-gvl30zwalx-iqxeuk-ch22vutrdu4xvspgg5xhdvw9c/work-products.bin
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt.lock
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/1fj8w3fgj6orwu4d.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/2etqjqcmjfm1udmr.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/2lwdj38r64r4gkd2.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/2re8i2z9b011uudg.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/2vp6xc71esndbhvo.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/2w6t5457mxz25x0j.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/3c9ocu3c99dgin13.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/3otsts4vf0fp2ghy.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/4omnl62j7fr5bj55.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/5gt8pwk10xd0u0ow.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/7etjym31o2ig76d.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/16zmwebs2gw9xbnh.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/21oeo6ylikvno4d4.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/33mxbfohcx13v5w5.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/38o8yu83ev5fyfhr.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/49fg32agke3vs6ad.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/113m2aric4mvtocd.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/dep-graph.bin
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/edbe7ms3j1xrul5.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/j0i39j5q44gs4v4.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/kc0tglmumjdvyft.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/pc53es13guzb6mo.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/query-cache.bin
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/rgh6hthjexvfohr.o
insert_data_into_db/target/debug/incremental/insert_data_into_db-lp44qf8dyyaz/s-gvl313k6u2-1cz6gvt-eb63zvskr775fvg7kjrdazidz/work-products.bin
